<!DOCTYPE html>
<html>
    <head>
        <title>All Pins!!</title>
    </head>
    <body>
        <h1>Look at all those pins!</h1>
        
        <ol type="1">
        <% @user.pins.each do |p|%>            
                <li> 
                    <a "/pins/ <%= p.id%>">
                    <%= p.source%><br>
                    <%= p.catagory%><br>
                    <%= p.catagory_source%><br>
                    <%= p.pin%><br><br>
                    </a>
                
                </li>
                           
            <% end %> 
        </ol>   
        










        <button onclick="goBack()">Go Back</button> <br>
<script>
function goBack() {
  window.history.back();
}
</script>
     
    </body>
   </html>