<style>
    .center {
            text-align: center;        
        }
</style>
      
 <body>
 <div class = "center">
   <h1><%="Select a pin to edit or"%></h1>
   <h3><%="remove from collection,"%></h3>
 </div>

 
</body>



<ol type="1">
<% @pin.each do |p|%>            
    <li>
        <a href="/pins/<%= p.id%>/edit">
        <%= p.source%><br>
        <%= p.catagory%><br>
        <%= p.catagory_source%><br>
        <%= p.pin%><br><br>
        </a>
    
    </li>
               
<% end %>