<!DOCTYPE html>
<html>
    <head>
        <title>All My Pins!!</title>
    </head>
    <body>
        <h1>One shiny new pin, <%=current_user.name%>!</h1>
        <ol type="1">          
            
            <li>
                <%= @pin.source%><br>
                <%= @pin.catagory%><br>
                <%= @pin.catagory_source%><br>
                <%= @pin.pin%>
            </li><br>               
             
        </ol>         
    </body>
</html>
<h2>Add another <a href="/new_pin">pin</a>?</h2>
<h2>See my <a href="/my_pins">pins</a>.</h2>

<button onclick="goBack()">Go Back</button> <br>
<script>
function goBack() {
  window.history.back();
}
</script>
    </body>
</html>
